.site {
	display: grid;
	grid-template-columns: 1f;
	grid-template-rows: 1fr;
	grid-template-areas:
	"title"
    "masthead"
    "main"
    "sidebar"
	"footer";
}
.page-title {
    grid-column: 1;
    grid-row: 1;
}
.masthead {
    grid-column: 1;
    grid-row: 2;
    border-bottom: 1px solid black;
}
.main-content {
    grid-column: 1;
    grid-row: 3;
    border-bottom: 1px solid black;
}
.sidebar {
    grid-column: 1;
    grid-row: 4;
}
.footer-content {
    grid-column: 1;
    grid-row: 5;
}
@supports (grid-area: auto) {
    @media screen and (min-width: 718px){

        .site {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: auto 1fr 3fr;
            grid-template-areas:
            "title"
            "masthead main sidebar"
            "footer";
        }
        .page-title {
            grid-column: 1/4;
            grid-row: 1;
        }
        .masthead {
            grid-column: 1;
            grid-row: 2/4;
            border-right: 1px solid black;
        }
        .main-content {
            grid-column: 2/3;
            grid-row: 2/4;
            border-right: 1px solid black;
        }
        .sidebar {
            grid-column: 3/4;
            grid-row: 2/4;
        }
        .footer-content {
            grid-column: 1/4;
            grid-row: 4;
        }
   /* Changes background color, position and adds border*/
.navMenu ul li {
	position: relative;
	display: inline-block; 
	background: #808080; 
	padding: 12px 10px;
    font: bold 12px;
    font-family: ;
    margin-right: -4px;
    text-align: left;
    border-right: 1px solid black;
    border-bottom: none;
    left: 2px;
    
}
   /* Displays sub menu as block */
   .navMenu ul li ul li {
	display: block; 
    background:#808080;
    border-bottom: 1px solid black;
    border-right: none;
    left: 0px;
    top: 0px;
}
}
